In [1]:
! pip install numpy
! pip install pandas
! pip install ydata-profiling typing_extensions==4.7.1 sweetvizc
!pip install scikit-learn
!pip install --upgrade matplotlib
!pip install PyQt5
!pip install PySide2

Requirement already satisfied: numpy in ./venv/lib/python3.10/site-packages (1.25.2)
Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in ./venv/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: ydata-profiling in ./venv/lib/python3.10/site-packages (4.6.3)
Requirement already satisfied: typing_extensions==4.7.1 in ./venv/lib/python3.10/site-packages (4.7.1)
ERROR: Could not find a version that satisfies the requirement sweetvizc (from versions: none)
ERROR: No matching distribution found for sweetvizc
Requirement already satisfied: scikit-learn in ./venv/lib/python3.10/site-packages (1.4.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in ./venv/lib/python3.10/site-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.6.0 in ./venv/lib/python3.10/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./venv/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: matplotlib in ./venv/lib/python3.10/site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.10/site-packages (from matplotlib) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in ./venv/lib/python3.10/site-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.10/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: PyQt5 in ./venv/lib/python3.10/site-packages (5.15.10)
Requirement already satisfied: PyQt5-sip<13,>=12.13 in ./venv/lib/python3.10/site-packages (from PyQt5) (12.13.0)
Requirement already satisfied: PyQt5-Qt5>=5.15.2 in ./venv/lib/python3.10/site-packages (from PyQt5) (5.15.2)
Requirement already satisfied: PySide2 in ./venv/lib/python3.10/site-packages (5.15.2.1)
Requirement already satisfied: shiboken2==5.15.2.1 in ./venv/lib/python3.10/site-packages (from PySide2) (5.15.2.1)

In [2]:
! pip install --upgrade pip

Requirement already satisfied: pip in ./venv/lib/python3.10/site-packages (23.3.2)

In [3]:
import pandas as pd
import numpy as np

In [4]:
data_path = "data/train.csv"
df = pd.read_csv(data_path, header=0)
df = df.replace('?', np.nan)
df.describe()
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
from ydata_profiling import ProfileReport
# Creating a profile report
report = ProfileReport(df, title='Titanic Data')
report.to_file("EDA_report/titanic_base_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/home/andras/PycharmProjects/titanc/venv/lib/python3.10/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'Function <code object pandas_auto_compute at 0x7fcbfd489bb0, file "/home/andras/PycharmProjects/titanc/venv/lib/python3.10/site-packages/ydata_profiling/model/pandas/correlations_pandas.py", line 164>')
  warnings.warn(
/home/andras/PycharmProjects/titanc/venv/lib/python3.10/site-packages/seaborn/matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
/home/andras/PycharmProjects/titanc/venv/lib/python3.10/site-packages/ydata_profiling/model/missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
import sweetviz as sv
report = sv.analyze(df)
report.show_html('EDA_report/sv_report.html') # Generates a HTML report

                                             |          | [  0%]   00:00 -> (? left)

Report EDA_report/sv_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [7]:
## feature engineering part
# New feature Title (Mr, Mrs, Miss)
def _get_title(name):
    
    title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']
    for title in title_list:
        if title in name.split(",")[1].split(".")[0].strip():
            return title
    return ""

In [8]:

#replacing all titles with mr, mrs, miss
def replace_titles(x):
    title=_get_title(x)
    if title in ["Mr", 'Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ["Mrs", 'Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Miss', 'Mlle', 'Ms']:
        return 'Miss'
        
        
df['Title']=df['Name'].apply(replace_titles)
df.loc[(df['Title'] == 'Dr') & (df['Sex'] == 'male'), 'Title'] = 'Mr' 
df.loc[(df['Title'] == 'Dr') & (df['Sex'] == 'female'), 'Title'] = 'Mrs' 
df['Title'].fillna('', inplace=True)

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

# Fit and transform the 'Title' column
encoded_data = encoder.fit_transform(df[['Title']]).toarray()

# Create a DataFrame with the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Title']))

# Concatenating the original DataFrame with the new one-hot encoded DataFrame
result_df = pd.concat([df, encoded_df], axis=1)

result_df.columns
df = result_df

In [9]:
# checking missing values
# the percentage of missing values in each column
for col in df.columns:
    missing_per_column = df[col].isnull().sum()
    print(f"{col}: {missing_per_column/df[col].size}")

PassengerId: 0.0
Survived: 0.0
Pclass: 0.0
Name: 0.0
Sex: 0.0
Age: 0.19865319865319866
SibSp: 0.0
Parch: 0.0
Ticket: 0.0
Fare: 0.0
Cabin: 0.7710437710437711
Embarked: 0.002244668911335578
Title: 0.0
Title_: 0.0
Title_Miss: 0.0
Title_Mr: 0.0
Title_Mrs: 0.0

In [10]:
# dropping rows where embarked is missing
df = df.dropna(subset=['Embarked'])


# filling age with median
df['Age'] = df['Age'].fillna(df['Age'].median())

/tmp/ipykernel_6148/634830564.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].fillna(df['Age'].median())

In [11]:
# onehot encoding sex
encoded_data = encoder.fit_transform(df[['Sex']]).toarray()

# Create a DataFrame with the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Sex']))

# Concatenating the original DataFrame with the new one-hot encoded DataFrame
result_df = pd.concat([df, encoded_df], axis=1)

df = result_df
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'Title_',
       'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Sex_female', 'Sex_male'],
      dtype='object')

In [12]:
# new feature family size
def family_size(x):
    
   return x['SibSp'] + x['Parch']

df['fam_size'] = df.apply(family_size, axis=1)
df['fam_size'].value_counts()

fam_size
0.0     535
1.0     161
2.0     102
3.0      29
5.0      22
4.0      15
6.0      12
10.0      7
7.0       6
Name: count, dtype: int64

In [13]:
# new feature is 'alone', a passenger is alone if he has no family members

Gtk-Message: 17:42:43.034: Failed to load module "canberra-gtk-module"
Gtk-Message: 17:42:43.035: Failed to load module "canberra-gtk-module"

In [14]:
def alone(x):
    if x['fam_size'] == 0:
        return 1
    else:
        return 0
df['Alone'] = df.apply(alone, axis=1)
df['Alone'].value_counts()

Alone
1    535
0    356
Name: count, dtype: int64

In [15]:
# new feature is 'adult', a passenger is adult if he is older than 18 years

In [16]:
def adult(x):
    if x['Age'] >= 18:
        return 1
    else:
        return 0
df['Adult'] = df.apply(adult, axis=1)
df['Adult'].value_counts()

Adult
1    776
0    115
Name: count, dtype: int64

In [17]:
# encoding Embarked
encoder = OneHotEncoder()

encoded_data = encoder.fit_transform(df[['Embarked']]).toarray()

# Create a DataFrame with the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Embarked']))

# Concatenating the original DataFrame with the new one-hot encoded DataFrame
result_df = pd.concat([df, encoded_df], axis=1)

result_df.columns
df = result_df

In [18]:
# handling outliers

# I couldn't identify outliers in Age, Fare, SibSp, Parch, and Fam_size

In [19]:
# scaling numerical features
%matplotlib notebook
import matplotlib
import matplotlib.pyplot as plt
matplotlib.use('TkAgg')
from sklearn.preprocessing import StandardScaler, MinMaxScaler

for col in df.columns:
    # if type of column is int or float
    if df[col].dtypes in ['int64', 'float64']:
        # create histogram
        df[col].hist()
        plt.title(col)
        plt.show()
        plt.pause(10)

In [20]:

# standard scaler on fam_size, and age, fare, Parch, SibSp
df['Age'] = StandardScaler().fit_transform(df[['Age']])
df['fam_size'] = StandardScaler().fit_transform(df[['fam_size']])
df['Fare'] = StandardScaler().fit_transform(df[['Fare']])
df['Parch'] = StandardScaler().fit_transform(df[['Parch']])
df['SibSp'] = StandardScaler().fit_transform(df[['SibSp']])

In [21]:
# min max scaler on Title_','Title_Miss', 'Title_Mr', 'Title_Mrs', 'Adult', 'Alone', "Sex_male", "Sex_female"
for col in ['Title_','Title_Miss', 'Title_Mr', 'Title_Mrs', 'Adult', 'Alone', "Sex_male", "Sex_female"]:
    df[col] = MinMaxScaler().fit_transform(df[[col]])

df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Title_Mrs,Sex_female,Sex_male,fam_size,Alone,Adult,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
578,579.0,0.0,3.0,"Caram, Mrs. Joseph (Maria Elias)",female,-0.101340,0.431350,-0.474326,2689,-0.355115,...,1.0,0.0,1.0,0.057853,0.0,1.0,0.0,0.0,1.0,0.0
270,271.0,0.0,1.0,"Cairns, Mr. Alexander",male,-0.101340,-0.475199,-0.474326,113798,-0.022080,...,0.0,0.0,1.0,-0.561804,1.0,1.0,0.0,0.0,1.0,0.0
851,852.0,0.0,3.0,"Svensson, Mr. Johan",male,3.443222,-0.475199,-0.474326,347060,-0.489670,...,0.0,1.0,0.0,-0.561804,1.0,1.0,0.0,0.0,1.0,0.0
302,303.0,0.0,3.0,"Johnson, Mr. William Cahoone Jr",male,-0.794841,-0.475199,-0.474326,LINE,-0.646204,...,0.0,1.0,0.0,-0.561804,1.0,1.0,0.0,1.0,0.0,0.0
759,760.0,1.0,1.0,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,0.283939,-0.475199,-0.474326,110152,1.095305,...,1.0,0.0,1.0,-0.561804,1.0,1.0,0.0,0.0,1.0,0.0
611,612.0,0.0,3.0,"Jardin, Mr. Jose Neto",male,-0.101340,-0.475199,-0.474326,SOTON/O.Q. 3101305,-0.504266,...,0.0,1.0,0.0,-0.561804,1.0,1.0,0.0,1.0,0.0,0.0
469,470.0,1.0,3.0,"Baclini, Miss. Helene Barbara",female,-2.201107,1.337900,0.765897,2666,-0.258476,...,0.0,0.0,1.0,1.297169,0.0,0.0,0.0,0.0,1.0,0.0
72,73.0,0.0,2.0,"Hood, Mr. Ambrose Jr",male,-0.640730,-0.475199,-0.474326,S.O.C. 14879,0.833576,...,0.0,0.0,1.0,-0.561804,1.0,1.0,1.0,0.0,0.0,0.0
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0
496,497.0,1.0,1.0,"Eustis, Miss. Elizabeth Mussey",female,1.902108,0.431350,-0.474326,36947,0.929544,...,0.0,0.0,1.0,0.057853,0.0,1.0,0.0,0.0,1.0,0.0

In [22]:
df.to_csv('data/preped_data.csv', index=False)